@charset "UTF-8";
@import 'color.css';
@import 'font.css';

/* hd */
/* gnb*/
/* nav */
/*1.topTitle*/
/*2.mnFace*/
/*3.menuBtn*/
/*4.intro*/
/*5.inform*/
/*6.campImg*/
/* ft */
/**/

/* 전체 레이아웃*/

/* .wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(700px, 3fr) 1fr;
  grid-template-rows: 500px minmax(400px, auto) 200px;
} */

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(700px, 3fr) 1fr;
  grid-template-rows: 40px 100px 50px 120px 350px auto minmax(70px, auto) auto auto 150px;
  grid-template-areas:
    'up-l          up                   up-r'
    'hd-l          hd                   hd-r'
    'gnb-l         gnb                 gnb-r'
    '.             topTitle                .'
    '.             mnFace                  .'
    '.             menuBtn                 .'
    '.             intro                   .'
    '.             inform                  .'
    '.             campImg                 .'
    'ft-l          ft                   ft-r';
}

/* 레이아웃 요소 배치 */
.up-l {
  grid-area: up-l;
}
.up {
  grid-area: up;
}
.up-r {
  grid-area: up-r;
}
.hd-l {
  grid-area: hd-l;
}
.hd {
  grid-area: hd;
}
.hd-r {
  grid-area: hd-r;
}
.gnb-l {
  grid-area: gnb-l;
}
.gnb {
  grid-area: gnb;
}
.gnb-r {
  grid-area: gnb-r;
}

.topTitle {
  grid-area: topTitle;
}
.mnFace {
  grid-area: mnFace;
}
.menuBtn {
  grid-area: menuBtn;
}
.intro {
  grid-area: intro;
}
.inform {
  grid-area: inform;
}
.campImg {
  grid-area: campImg;
}

.ft-l {
  grid-area: ft-l;
}
.ft {
  grid-area: ft;
}
.ft-r {
  grid-area: ft-r;
}
